<h1>Jungle Information</h1>
<br>
<p><a class="btn btn-primary" href="/admin/products">Products</a> <%= @products %></p>
<br>
<p><a class="btn btn-primary" href="/">Categories</a> <%= @categories %></p>

